[submodule "include/gclib"]
	path = include/gclib
	url = https://github.com/gpertea/gclib.git
[submodule "include/htslib"]
	path = include/htslib
	url = https://github.com/samtools/htslib.git
[submodule "include/libBigWig"]
	path = include/libBigWig
	url = https://github.com/dpryan79/libBigWig
